<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/admin/home.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>NewEditServlet</servlet-name>
        <servlet-class>controller.NewEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDeleteServlet</servlet-name>
        <servlet-class>controller.SaleDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewEditServlet_2</servlet-name>
        <servlet-class>controller.NewEditServlet_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportDeleteServlet</servlet-name>
        <servlet-class>controller.ImportDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DomesticDeleteServlet</servlet-name>
        <servlet-class>controller.DomesticDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewEditServlet_3</servlet-name>
        <servlet-class>controller.NewEditServlet_3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferDeleteServlet</servlet-name>
        <servlet-class>controller.TransferDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendingServlet</servlet-name>
        <servlet-class>myPackage.EmailSendingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailUtility</servlet-name>
        <servlet-class>myPackage.EmailUtility</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sale</servlet-name>
        <jsp-file>/admin/sale-data.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sale</servlet-name>
        <url-pattern>/admin/sale</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginCheckerServlet</servlet-name>
        <servlet-class>controller.LoginCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleCheckerServlet</servlet-name>
        <servlet-class>controller.SaleCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferCheckerServlet</servlet-name>
        <servlet-class>controller.TransferCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportCheckerServlet</servlet-name>
        <servlet-class>controller.ImportCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemCheckerServlet</servlet-name>
        <servlet-class>controller.ItemCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutAuthenticator</servlet-name>
        <servlet-class>controller.LogOutAuthenticator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWarehouseServlet</servlet-name>
        <servlet-class>controller.AddWarehouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DomesticCheckerServlet</servlet-name>
        <servlet-class>controller.DomesticCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPartyServlet</servlet-name>
        <servlet-class>controller.AddPartyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Temp</servlet-name>
        <servlet-class>controller.Temp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCheckerServlet</servlet-name>
        <url-pattern>/LoginCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleCheckerServlet</servlet-name>
        <url-pattern>/SaleCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferCheckerServlet</servlet-name>
        <url-pattern>/TransferCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportCheckerServlet</servlet-name>
        <url-pattern>/ImportCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemCheckerServlet</servlet-name>
        <url-pattern>/ItemCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutAuthenticator</servlet-name>
        <url-pattern>/LogOutAuthenticator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWarehouseServlet</servlet-name>
        <url-pattern>/AddWarehouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DomesticCheckerServlet</servlet-name>
        <url-pattern>/DomesticCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPartyServlet</servlet-name>
        <url-pattern>/AddPartyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Temp</servlet-name>
        <url-pattern>/Temp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewEditServlet</servlet-name>
        <url-pattern>/NewEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDeleteServlet</servlet-name>
        <url-pattern>/SaleDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewEditServlet_2</servlet-name>
        <url-pattern>/NewEditServlet_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportDeleteServlet</servlet-name>
        <url-pattern>/ImportDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DomesticDeleteServlet</servlet-name>
        <url-pattern>/DomesticDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewEditServlet_3</servlet-name>
        <url-pattern>/NewEditServlet_3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferDeleteServlet</servlet-name>
        <url-pattern>/TransferDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSendingServlet</servlet-name>
        <url-pattern>/EmailSendingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailUtility</servlet-name>
        <url-pattern>/EmailUtility</url-pattern>
    </servlet-mapping>
    <display-name>EmailSendingWebApp</display-name>
 
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>durvakulkarni3@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>Durva2002</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>